AccountOpeningProcess/bpelContent/AccountOpeningProcessTypes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://wso2.org/banking/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CreateAccount">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="nid" type="xsd:string" />
				<xsd:element name="name" type="xsd:string"></xsd:element>
				<xsd:element name="accountType" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CreateAccountResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="out" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>